/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Color of the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
